header {
	width: 100%;
	z-index: 1;
	position: absolute;
	border-bottom: 1px solid $lightgrey;
	.logo {
		font-family: Helvetica;
	}
	.frame-link {
		height: 100%;
		position: absolute;
		border: 1px solid black;
		transition: .5s;
	}
	.navbar-nav {
		font-family: sans-serif;
	}
	.navbar-toggler:focus {
		outline: none;
	}
}
.fixed-header {
	position: fixed;
	border-bottom: none;
	background-color: $lightgrey;
	box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
	animation-name: fixed-header;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}
@keyframes fixed-header {
	from {
		margin-top: -100px;
	}
	to {
		margin-top: 0;
	}
}

@media (max-width: 991.888px) {
	.navbar-nav {
		align-items: flex-start;
		& .nav-link {
			padding-left: .5rem !important;
			padding-right: .5rem !important;
		}
	}
}
