.fixedSection {
	height: 100%;
	position: fixed;
	&-image {
		height: 100%;
		img {
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 991.888px) {
	.fixedSection {
		&-image {
			height: auto;
			img {
				width: 100vw;
				height: auto;
			}
		}
	}
}
