.home {
	width: 100%;
	.for-home-info {
		height: 100vh;
	}
	&-info {
		width: 26rem;
		height: 24rem;
		position: relative;
		left: 25%;
		top: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Comic Sans MS;
		color: #253846;
		background-image: url("/static/pictures/speech-bubble.png");
		background-repeat: no-repeat;
		background-size: cover;
		& > div {
			max-width: 16rem;
		}
		&-title {
			font-size: 1.4rem;
		}
		&-description {
			font-size: .9rem;
		}
	}
}

@media (max-width: 991.888px) {
	.home {
		position: relative;
		.for-home-info {
			height: auto;
		}
		&-info {
			width: 22rem;
			height: 20rem;
			top: 0;
			& > div {
				max-width: 14rem;
			}
			&-title {
				font-size: 1.25rem;
			}
			&-description {
				font-size: .8rem;
			}
		}
	}
}
@media (max-width: 575.888px) {
	.home {
		&-info {
			width: 18rem;
			height: 17rem;
			left: 28%;
			& > div {
				max-width: 12rem;
			}
			&-title {
				font-size: .9rem;
			}
			&-description {
				font-size: .7rem;
			}
		}
	}
}

@media (max-width: 399.888px) {
	.home {
		&-info {
			width: 16rem;
			height: 15rem;
			& > div {
				max-width: 10rem;
			}
			&-title {
				font-size: .8rem;
			}
			&-description {
				font-size: .6rem;
			}
		}
	}
}
