.skills {
	position: relative;
	background-color: white;
	&-title {
		font-family: Comic Sans MS;
	}
	&-description {
		font-family: monospace;
		color: $grey;
	}
	&-part {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 1rem 0;
		&-item {
			width: 250px;
			display: flex;
			padding: .5rem 0;
			@media (max-width: 767.888px) {
				width: 200px;
			}
			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}
