.experience-slider {
	position: relative;
	background-color: $white;
	transition: margin .2s ease-in-out 0s;
	&-item {
		@media (max-width: 575.888px) {
			padding: 0 50px;
			&-image {
				height: 150px;
			}
		}
		&-image {
			height: 200px;
			display: flex;
			img {
				width: 100%;
				object-fit: contain;
			}
		}
		&-info {
			&-location,
			&-date {
				font-size: .9rem;
				font-weight: 100;
				font-family: Courier New;
				svg {
					margin-right: .3rem;
					color: $dark;
				}
			}
			&-company {
				display: flex;
				white-space: nowrap;
				&-title {
					font-size: 1.1rem;
					color: $dark;
				}
				&-name,
				&-link,
				&-value {
					padding-left: .3rem;
					font-family: Times;
				}
				&-name {
					font-size: 1.1rem;
					font-weight: 400;
				}
				&-link {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				&-value {
					font-weight: 100;
				}
			}
		}
	}
}
