.aboutMe {
	background-color: $lightgrey;
	&-description {
		font-family: serif;
	}
	&-block {
		width: 250px;
		@media (max-width: 575.888px) {
			width: 200px;
		}
		&-picture {
			display: flex;
			border: 10px solid black;
			border-radius: 50%;
			img {
				width: 100%;
				object-fit: contain;
				border-radius: 50%;
				filter: grayscale(100%);
				transition-duration: .3s;
				&:hover {
					filter: none;
				}
			}
		}
	}
}
