.footer {
	width: 100%;
	position: relative;
	bottom: 0;
	padding: 10px 0 30px;
	background-color: #12232f;
	box-shadow: 0px 20px 25px 45px #12232f;
	color: white;
	&-copyRight {
		font-family: monospace;
		@media (max-width: 575.888px) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	&-other {
		@media (max-width: 575.888px) {
			display: flex;
			justify-content: center;
			& .row {
				width: 80%;
				justify-content: center;
			}
		}
	}
	.siteCreated {
		color: $grey;
		font-size: .9rem;
		&-lovely {
			padding-left: .3rem;
			color: $red;
		}
	}
	.item {
		width: 3rem;
		height: 3rem;
		position: relative;
		display: flex;
		border-radius: 5px;
		cursor: pointer;
		transform: rotate(-30deg) skew(25deg);
		transition: .5s;

		& a {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			display: flex;
			align-items: center;
			font-size: 1.9rem;
			color: white;

			& > svg {
				width: 100% !important;
			}
		}
		&:nth-child(1) {
			background-color: white;
			background: repeating-linear-gradient(#2684ff, #1a74ed, #0c61db, #0357d1);
			& > div {
				background-color: white;
				background: repeating-linear-gradient(#2684ff, #1a74ed, #0c61db, #0357d1);
			}
		}
		&:nth-child(2) {
			background-color: #0077b5;
			& > div {
				background-color: #0077b5;
			}
		}
		&:nth-child(3) {
			background: #f09433;
			background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
			background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
			background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(
					startColorstr='#f09433',
					endColorstr='#bc1888',
					GradientType=1
				);
			& > div {
				background: #f09433;
				background: -moz-linear-gradient(
					45deg,
					#f09433 0%,
					#e6683c 25%,
					#dc2743 50%,
					#cc2366 75%,
					#bc1888 100%
				);
				background: -webkit-linear-gradient(
					45deg,
					#f09433 0%,
					#e6683c 25%,
					#dc2743 50%,
					#cc2366 75%,
					#bc1888 100%
				);
				background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(
						startColorstr='#f09433',
						endColorstr='#bc1888',
						GradientType=1
					);
			}
		}
		&:hover {
			transform: rotate(-30deg) skew(25deg) translate(20px, -20px);
			& > div {
				&:nth-child(2) {
					transform: translate(0px, 0px);
					opacity: 1;
				}
				&:nth-child(3) {
					transform: translate(-7px, 7px);
					opacity: .8;
				}
				&:nth-child(4) {
					transform: translate(-14px, 14px);
					opacity: .6;
				}
				&:nth-child(5) {
					transform: translate(-21px, 21px);
					opacity: .4;
				}
				&:nth-child(6) {
					transform: translate(-28px, 28px);
					opacity: .2;
				}
			}
		}
		& > div {
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;
			display: flex;
			border-radius: 5px;
			font-size: 50px;
			transition: .5s;
		}
	}
}
