.contacts {
	padding-bottom: 50px;
	background-color: #253846;
	&-description {
		text-align: center;
		color: $white;
		font-weight: 100;
	}
	&-wrapper-input {
		width: 100%;
		margin-bottom: 1rem;
		padding: 0 2rem;
		font-family: serif;
		& input,
		textarea {
			width: 100%;
			padding: 10px 20px;
			border: none;
			background-color: $lightblue;
			&:focus {
				outline: none;
			}
		}
		& input {
			border-radius: 2rem;
		}
		& textarea {
			border-radius: 1rem;
			border-top-width: 5px;
			border-right-width: 5px;
			border-bottom-width: 5px;
			border-style: solid;
			border-color: $lightblue;
			&::-webkit-scrollbar {
				width: .5rem;
				margin-right: 15px;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				border-radius: 1rem;
				margin-right: 15px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: darkgrey;
				outline: 1px solid slategrey;
				border-radius: 1rem;
				margin-right: 15px;
			}
		}
		& button {
			font-family: monospace;
		}
	}
	&-me {
		&-bracket-left,
		&-bracket-right {
			& img {
				width: 100%;
				height: 250px;
				object-fit: contain;
				@media (max-width: 575.888px) {
					height: 100px;
				}
			}
		}
		&-obj {
			&-keys {
				font-family: serif;
				color: $white;
				&-dots {
					color: $black;
				}
			}
			&-values {
				font-family: Comic Sans MS;
				color: $orange;
			}
		}
	}
}
