html,
body {
	font-size: 16px;
	overflow-x: hidden;
}
a {
	text-decoration: none !important;
	color: $black;
}

.section {
	padding: 1.5rem 0;
	overflow: hidden;
}

.button {
	padding: .5rem 2.5rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 1.5rem;
	border: 1px solid transparent;
	background-color: $orange;
	color: $white;
	letter-spacing: 1px;
	transition-duration: .3s;
	&:hover {
		background-color: $white;
		color: $orange;
		border: 1px solid $orange;
	}
	&:focus {
		outline: none;
	}
}

// Large devices
@media (max-width: 991.888px) {
	html,
	body {
		font-size: 14px;
	}
}

// Medium devices
@media (max-width: 767.888px) {
	html,
	body {
		font-size: 12px;
	}
}

// Small devices
@media (max-width: 575.888px) {
	html,
	body {
		font-size: 10px;
	}
}
